/build/
*/build/
*.swp
*.iml
.DS_Store
/.idea/
/.gradle/
/build-logic/.gradle
/build-logic/*/build
/build-logic/build
/integration-test/*/.gradle
/integration-test/*/.idea
/integration-test/*/*/build
/integration-test/*/build
/integration-test/*/app/src/*/generated/
local.properties
.kotlin
