name: Build and test
permissions:
  contents: read
  id-token: write
on:
  push:
    branches:
      - main
  pull_request:
env:
  JAVA_OPTS: '-Dorg.gradle.jvmargs="-Xmx4g"'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup JDK
        uses: jdx/mise-action@v2
      - name: Set JAVA_HOME
        shell: bash
        run: echo "JAVA_HOME=$(mise hook-env -f | grep 'export JAVA_HOME' | cut -d'=' -f2)" >> $GITHUB_ENV
      # needed for building the plugin itself while targeting JDK 11
      - name: Setup JDK11
        run: mise install java@zulu-11.80.21
      # so Gradle toolchains can find mise JDKs
      - name: symlink asdf
        run: |
          mkdir -p $HOME/.asdf/installs/
          ln -s $HOME/.local/share/mise/installs/java $HOME/.asdf/installs/
      - name: Build plugin
        run: ./gradlew lint assemble publishAllPublicationsToIntreeRepository -PRELEASE_SIGNING_ENABLED=false
      - name: Store maven repo as an artifact
        uses: actions/upload-artifact@v4
        with:
          name: gradle-plugin-repo
          path: build/maven-repo/

  test:
    name: "${{ matrix.test-project }} (config-cache: ${{ matrix.config-cache }})"
    runs-on: ubuntu-latest
    needs: build
    strategy:
      fail-fast: false
      matrix:
        test-project: [ 'latest', 'project-isolation', 'oldest', 'abi-splits', 'agp9-olddsl', 'agp9-newdsl' ]
        config-cache: [ 'true', 'false' ]
        include:
          - test-project: 'project-isolation'
          - test-project: 'latest'
          - test-project: 'oldest'
          - test-project: 'abi-splits'
          - test-project: 'agp9-olddsl'
        exclude:
          - test-project: 'project-isolation'
            config-cache: 'false'
          - test-project: 'oldest'
            config-cache: 'true'
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/run-integration-tests
        name: "Run integration tests for ${{ matrix.test-project }} (config-cache: ${{ matrix.config-cache }})"
        with:
          test-project: ${{ matrix.test-project }}
          config-cache: ${{ matrix.config-cache }}
          oidc-configuration-id: ${{ vars.EW_OIDC_ID }}
